
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- estilo css -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    {{> Menu }}

    <div class="container">
        <section>
            {{> mensajeBienvenida }}
        </section>
        <!-- Iteracion renderizar los productos -->
        <section id="prodIterar">
            <div class="d-flex flex-wrap justify-content-center">
                {{#each productos}}
                    <div class="col-md-3">
                            {{> Productos nombre=this}}
                    </div>
                {{/each}}
            </div>
        </section>
    </div>

    <!-- Parcial del modal -->
    {{> Modal}}
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Jquery -->
    <script src="/jquery/jquery.slim.min.js"></script>
    <!-- js -->
    <script src="/js/products.js"></script>
</body>
</html>   


