
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
    {{> Menu }}

    <!-- Iteración para renderizar los productos -->
    <section id="prodIterar">
            {{#each productos}}
                {{> Productos nombre=this}}
            {{/each}}
        
    </section>
    
</body>
</html>   


